<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Synthetic Table Generation</title>
    <link rel="stylesheet" href="static/style.css" />

    <style>
      ::-webkit-scrollbar {
        width: 6px;
      }

      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      .gap {
        margin-top: 40px;
        .circup {
          margin: 0 auto;
          width: 40px;
          height: 40px;
          background-color: rgb(248, 194, 13);
        }
        .gapline {
          width: 100%;
          height: 1px;
          color: black;
          background-color: rgb(35, 173, 157);
        }
        .circdown {
          width: 40px;
          height: 40px;
          margin: 0 auto;
          background-color: rgb(247, 218, 124);
        }
      }
    </style>
  </head>
  <body>
    <a href="/home" class="home">Home</a>
    <div class="main_header">
      <h1 class="main_heading">Synthetic Table Generation</h1>
    </div>
    <div class="table_selection_container">
      <form action="/generate_synthetic_table" method="post">
        <select
          name="table_type"
          id="table_type"
          onchange="show_table_name_type()"
        >
          <option value="single_table" selected>Single Table</option>
          <option value="multi_table">Multi_table</option>
        </select>
        <select name="table_single_selection" id="table_single_selection">
          <option value="asia">asia</option>
          <option value="fake_hotel_guests">fake_hotel_guests</option>
          <option value="alarm">alarm</option>
          <option value="insurance">insurance</option>
          <option value="student_placements">student_placements</option>
          <option value="student_placements_pii">student_placements_pii</option>
        </select>
        <select name="table_multi_selection" id="table_multi_selection">
          <option value="fake_hotels">fake_hotels</option>
          <option value="genes_v1">genes_v1</option>
          <option value="walmart">walmart</option>
          <option value="world_v1">world_v1</option>
        </select>
        <select name="select_num_rows" id="select_num_rows">
          <option value="100" selected>Rows amount</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
          <option value="2000">2000</option>
          <option value="10000">10000</option>
        </select>
        <input type="submit" value="SUBMIT" />
      </form>
    </div>
    {% if data and demo_table %}
    <div class="demo_tables">
      {% if data['table_type'] == 'single_table' %}

      <h2 class="table-type">REAL TABLE</h2>
      <div class="demo_table_single">
        <h2 class="heading-h2">{{data['table_name']}}.csv</h2>
        <table class="demo_table">
          <thead>
            <tr>
              {% for k in demo_table[0].keys() %}
              <th>{{ k }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for i in demo_table %}
            <tr>
              {% for v in i.values() %}
              <td>
                {{ v }}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% elif data['table_type'] == 'multi_table' %}
      <h2 class="table-type">REAL MULTI TABLE</h2>
      {% for table in demo_table.keys() %}
      <h2 class="heading-h2">{{ table }}</h2>
      <div class="demo_table_multi">
        <table border="1" class="demo_table">
          <thead>
            <tr>
              {% for k in demo_table[table][0].keys() %}
              <th>{{k}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for i in demo_table[table] %}
            <tr>
              {% for v in i.values() %}
              <td>
                {{ v }}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %} {% endif %}
    </div>
    {% endif %} {% if data %}
    <div class="gap">
      <div class="circup"></div>
      <div class="gapline"></div>
      <div class="circdown"></div>
    </div>
    {% endif %} {% if data and synthetic_table %}
    <div class="synthetic_tables_container">
      {% if data['table_type'] == 'single_table' %}
      <h2 class="table-type">SYNTHETIC GENERATED TABLE</h2>
      <div class="synthetic_table_single">
        <h2 class="heading-h2">{{data['table_name']}}.csv</h2>
        <table border="1" class="synthetic_table">
          <thead>
            <thead>
              <tr>
                {% for k in synthetic_table[0].keys() %}
                <th>{{k}}</th>
                {% endfor %}
              </tr>
            </thead>
          </thead>

          <tbody>
            {% for i in synthetic_table %}
            <tr>
              {% for v in i.values() %}
              <td>
                {{ v }}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% elif data['table_type'] == 'multi_table' %}
      <h2 class="table-type">SYNTHETIC GENERATED MULTI TABLE</h2>
      <div class="synthetic_table_multi">
        {% for table in synthetic_table.keys() %}
        <h2 class="heading-h2">{{ table }}.csv</h2>
        <div class="synthetic_table_multi">
          <table class="synthetic_table">
            <thead>
              <tr>
                {% for k in synthetic_table[table][0].keys() %}
                <th>{{k}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for i in synthetic_table[table] %}
              <tr>
                {% for v in i.values() %}
                <td>
                  {{ v }}
                </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endif %}
    <div id="evaluation_logs">
      {% if eval_logs %}
      <button id="eval-logs-btn" onclick="eval_log_toggle()">LOGS</button>
      <div id="logs">
        {% for log in eval_logs %}
        <p>{{ log }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    {% if metadata %}
    <button class="metadata-btn" onclick="metadata_toggle()">
      METADATA
    </button>
    {% endif %}
    <div id="metadata">
      {% if metadata %}
      <div class="img-container">
        <img src="static/my_metadata_summarized.png" alt="summary.png" />
        <img src="static/my_metadata_full.png" alt="full.png" />
      </div>
      {%endif%}
    </div>

    <div class="evaluation_reports">
      {% if eval_reports %}
      <h2 class="table-type">EVALUATION REPORT</h2>
      <h2 class="heading-h2">Best Synthesizer: {{ data['model'] }}</h2>
      <table border="1" class="eval_reports">
        <thead>
          <tr>
            {% for k in eval_reports[0].keys() %}
            <th>{{k}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for i in eval_reports %}
          <tr>
            {% for v in i.values() %}
            <td>
              {{ v }}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {%endif%}
    </div>
    {% if data %}
    <div class="gap">
      <div class="circup"></div>
      <div class="gapline"></div>
      <div class="circdown"></div>
    </div>
    {% endif %}
    <div class="diagnostic_reports">
      {% if diag_reports %}
      <h2 class="table-type">Diagnostic Report</h2>
      <table class="diag_reports">
        {% for k, v in diag_reports.items() %}
        <tr>
          <td>{{k}}</td>
          <td>{{v}}</td>
        </tr>
        {% endfor %}
      </table>
      {%endif%}
    </div>
    <div class="hidden" style="display: hidden;">
      {% if data and graph_path %} {% for path in graph_path %}
      <span style="display: hidden;">{{ path.show() }}</span>
      {% endfor %} {% endif %}
    </div>

    <div class="footer">
      <button id="gototop" onclick="gototop()">^</button>
      <div class="footer-line-1">
        <span>&copy; <span>SYNTHETIC TABLE GENERATOR</span></span>
      </div>
      <div class="footer-line-2">
        <p>MAJOR PROJECT</p>
      </div>
    </div>
    <script src="static/index.js"></script>
  </body>
</html>
