<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div class="main_header">
      <h1 class="main_heading">Synthetic Table Generation</h1>
    </div>
    <div class="table_selection_container">
      <form action="/generate_synthetic_table" method="post">
        <select
          name="table_type"
          id="table_type"
          onchange="show_table_name_type()"
        >
          <option value="single_table" selected>Single Table</option>
          <option value="multi_table">Multi_table</option>
        </select>
        <select name="table_single_selection" id="table_single_selection">
          <option value="alarm">alarm</option>
          <option value="asia">asia</option>
          <option value="fake_hotel_guests">fake_hotel_guests</option>
          <option value="insurance">insurance</option>
          <option value="student_placements">student_placements</option>
          <option value="student_placements_pii">student_placements_pii</option>
        </select>
        <select name="table_multi_selection" id="table_multi_selection">
          <option value="fake_hotels">fake_hotels</option>
          <option value="genes_v1">genes_v1</option>
          <option value="walmart">walmart</option>
          <option value="world_v1">world_v1</option>
        </select>
        <input type="submit" value="SUBMIT" />
      </form>

      {% if type_table_name and demo_table and type_table_name['table_type'] == 'single_table' %}

      <h3>{{type_table_name['table_type']}}</h3>
      <h2>{{type_table_name['table_name']}}</h2>

      <table border="1" class="demo_table">
        <thead>
          <tr>
            {% for k in demo_table[0].keys() %}
            <th>{{k}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for i in demo_table %}
          <tr>
            {% for v in i.values() %}
            <td>
              {{ v }}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% elif type_table_name and demo_table and type_table_name['table_type'] == 'multi_table' %}
      <h3>{{type_table_name['table_type']}}</h3>
      {% for table in demo_table.keys() %}
      <h2>{{ table }}</h2>
      <table border="1" class="demo_table">
        <thead>
          <tr>
            {% for k in demo_table[table][0].keys() %}
            <th>{{k}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for i in demo_table[table] %}
          <tr>
            {% for v in i.values() %}
            <td>
              {{ v }}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endfor %}
      {% endif %}
    </div>

    <div class="synthetic_tables_container">
      {% if type_table_name and synthetic_table and type_table_name['table_type'] == 'single_table' %}
        <h3>Synthetic Generated Table</h3>
        <table border="1" class="synthetic_table">
          <thead>
            <thead>
              <tr>
                {% for k in synthetic_table[0].keys() %}
                <th>{{k}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for i in synthetic_table %}
              <tr>
                {% for v in i.values() %}
                <td>
                  {{ v }}
                </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
        </table>

      {% elif type_table_name and synthetic_table and type_table_name['table_type'] == 'multi_table' %}


      {% endif %}
    </div>
    <div class="metadata">
      {% if metadata %}
      <img src="static/my_metadata_summarized.png" alt="summary.png">
      <img src="static/my_metadata_full.png" alt="full.png">
      {%endif%}
    </div>
    <div class="diagnostic_reports">
      {% if diag_reports %}
      <table border="1" class="diag_reports">
        {% for k, v in diag_reports.items() %}
        <tr>
          <td>{{k}}</td>
          <td>{{v}}</td>
        </tr>
        {% endfor %}
      </table>
      {%endif%}
    </div>
    <div class="evaluation_reports">
      {% if eval_reports %}
      <table border="1" class="eval_reports">
        <thead>
          <thead>
            <tr>
              {% for k in eval_reports[0].keys() %}
              {% if k != "Metric" %}
              <th>{{k}}</th>
              {% endif %}
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for i in eval_reports %}
            <tr>
              {% for v in i.values() %}
              {% if v != 'TVComplement' %}
              <td>
                {{ v }}
              </td>
              {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
      </table>
      {%endif%}
    </div>

    <script src="static/index.js"></script>
  </body>
</html>
